@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Luckiest+Guy&display=swap');

body{
    padding: 0;
    margin: 0;
}

#fejlec{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#47BCB5, white);

}

#fejlec_tartalom{
    width: 100vw;
}

#logo{
    height: calc(4vw + 5%); 
    width: calc(4vw + 5%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    border: 2px black solid;
    margin-left: 3vw;

}

#fejlec_tartalom > div, #fejlec_tartalom > img{
    display: inline-block;
    vertical-align: middle;
    margin-top: 2vh;
    
}

a, a:visited, a:active, a:hover{
    font-family: "Luckiest Guy", cursive;
    color: white; 
    font-size: 36px;
    font-weight: 800; 
    word-wrap: break-word;
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: black 1px;
}

#fejlec_elso_elem{
    text-align: center;
    padding-right: calc(20vw + 1%);
    padding-left: 5vw;
}

#fejlec_masodik_elem{
    padding-top: 10px;
    position: absolute;
    padding-right: calc(1vw + 1%);
}

#fejlec_harmadik_elem{
    padding-top: 10px;
    position: absolute;
    padding-left: calc(20vw + 1%);
}

.valaszto_felulet{
    padding-top: 100px;
    margin-right: auto;
    margin-left: auto;
}

.circles{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.circles > div{
    position: relative;
    display: inline-flex;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 20px;
    margin-right: 20px;   
}

.nagyon_nem{
    height: 180px;
    width: 180px;
    background-color: rgb(126 111 208);
    border: 10px solid rgb(126 111 208);
    transition: 0.4s;
}

.nagyon_nem:hover{
    background-color: white;
}

.félig_nem{
    height: 150px;
    width: 150px;
    background-color: rgb(126 111 208 / 80%);
    border: 10px solid rgba(126, 111, 208, 0.06);
    transition: 0.4s;
}

.félig_nem:hover{
    background-color: white;
    border: 10px solid rgb(126 111 208 / 80%);
}

.kicsit_nem{
    height: 120px;
    width: 120px;
    background-color: rgb(126 111 208 / 60%);
    border: 10px solid rgba(126, 111, 208, 0.03);
    transition: 0.4s;
}

.kicsit_nem:hover{
    background-color: white;
    border: 10px solid rgb(126 111 208 / 60%);
}

.semleges{
    height: 95px;
    width: 95px;
    background-color: #d9d9d9;
    border: 10px solid #d9d9d9;
    transition: 0.4s;
}

.semleges:hover{
    background-color: white;
}

.kicsit_igaz{
    height: 120px;
    width: 120px;
    background-color: #34a32a99;
    border: 10px solid rgba(52, 163, 42, 0.03);
    transition: 0.4s;
}

.kicsit_igaz:hover{
    background-color: white;
    border:10px solid #34a32a99;
}

.félig_igaz{
    height: 150px;
    width: 150px;
    background-color: rgb(52 163 42 / 80%);
    border: 10px solid rgba(52, 163, 42, 0.06);
    transition: 0.4s;
}

.félig_igaz:hover{
    background-color: white;
    border: 10px solid rgb(52 163 42 / 80%);
}

.nagyon_igaz{
    height: 180px;
    width: 180px;
    background-color: rgb(52 163 42 / 100%);
    border: 10px solid rgb(52 163 42 / 100%);
    transition: 0.4s;
}

.nagyon_igaz:hover{
    background-color: white;
    border: 10px solid rgb(52 163 42 / 100%);
}

.nagyon_nem.kivalasztva{
    background-color: white;
}

.félig_nem.kivalasztva{
    background-color: white;
    border: 10px solid rgb(126 111 208 / 80%);
}

.kicsit_nem.kivalasztva{
    background-color: white;
    border: 10px solid rgb(126 111 208 / 60%);
}

.semleges.kivalasztva{
    background-color: white;
}

.kicsit_igaz.kivalasztva{
    background-color: white;
    border: 10px solid #34a32a99;
}

.félig_igaz.kivalasztva{
    background-color: white;
    border: 10px solid rgb(52 163 42 / 80%);
}

.nagyon_igaz.kivalasztva{
    background-color: white;
}