* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
#fejleck{
  width: 1365px;
   height: 132px;
    position: relative;
}
.logo{
  width: 92px;
   height: 92px;
    left: 85px;
     top: 23px;
      position: absolute;
       box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 17px;
         border: 2px black solid;
}
.fejlecfelirat{
  position: absolute;
      text-align: center;
       color: white;
       font-size: 36px;
        font-weight: 400;
        word-wrap: break-word;
}
#fejlec{
  width: 1365px;
   height: 132px;
    left: 0px;
     top: 0px;
      position: relative;
      background: linear-gradient(180deg, #47BCB5 0%, rgba(71, 188, 181, 0) 100%);
    }
      #text1{
        width: 287px;
        height: 88px;
        left: 163px;
        top: 29px;
         
   }
   #text2{
        width: 230px;
         height: 48px;
          left: 862px;
           top: 45px;
           
   }
   #text3{
        width: 207px;
         height: 50px;
          left: 1108px;
           top: 45px;
   }
  #szoveg{
    width: 1135px;
    height: 838.20px; 
    text-align: center; 
    color:rgba(124.31, 223.63, 255, 0.76); 
    font-size: 64px; 
    font-family:Modak; 
    font-weight:400; 
    word-wrap: "break-word";
    text-decoration: none;
      
  }
 
  #jóképüekrőlkép{
    width: 1176px; height: 1467px; border-radius: 53px; border:
  5px #8AA4FF solid
 
  }
footer{
  width: 100%;
  height: calc(4vh+4vw);
}

#lablec{
  height: 3vh !important; 
  width: 3vw !important;
  
}