@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Luckiest+Guy&display=swap');
body{
     padding: 0;
     margin: 0;
 }
 #fejlec{
     width: 100%;
     margin: 0;
     padding: 0;
     background-image: linear-gradient(#47BCB5, white);
 
 }
 
 #fejlec_tartalom{
     width: 100vw;
 }
 
 #logoreal{
     height: calc(4vw + 5%); 
     width: calc(4vw + 5%);
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 17px;
     border: 2px black solid;
     margin-left: 3vw;
     margin-bottom: 2vh;
 
 }
 
 #fejlec_tartalom > div, #fejlec_tartalom > img{
     display: inline-block;
     vertical-align: middle;
     margin-top: 2vh;
     
 }
 
 a, a:visited, a:active, a:hover{
     font-family: "Luckiest Guy", cursive;
     color: white; 
     font-size: 36px;
     font-weight: 800; 
     word-wrap: break-word;
     text-decoration: none;
     text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     -webkit-text-stroke: black 1px;
 }
 
 #fejlec_elso_elem{
     text-align: center;
     padding-right: calc(20vw + 1%);
     padding-left: 5vw;
 }
 
 #fejlec_masodik_elem{
    padding-top: 20px;
     position: absolute;
     padding-right: calc(1vw + 5%);
 }
 
 #fejlec_harmadik_elem{
     padding-top: 20px;
     position: absolute;
     padding-left: calc(15vw + 1%);
 }
 
 #gomb1{
    display: inline-block;
   width: 20px;
     height: 20px;
 
  
     gap: 40vw;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 17px;
           border: 2px black solid;
      
           }
 
 #gomb2{
    display: inline-block;
   width: 200px;
     height: 200px;
 
  
     gap: 40vw;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 17px;
           border: 2px black solid;
      
           }
#szov1{
    display: flex;
    width: 200px;
      height: 200px;
      flex-wrap: nowrap;
      justify-content: center;
      
      gap: 40vw;
}
#szov2{
    display: flex;
    width: 200px;
      height: 200px;
      flex-wrap: nowrap;
      
      justify-content: center;
      gap: 40vw;
}


#nagyk{
    width: 100vw;
}
@media screen and (max-width: 1200px) {
    #fejlec_elso_elem{
        padding-right: 20vw;
    }
}

@media screen and (max-width: 860px) {
    #fejlec_elso_elem{
        padding-right: 10vw;
        text-align: center;
    }
}

@media screen and (max-width: 700px) {
    #logo{
        display: flex !important;
        order: 3 !important;
        height: calc(6vw + 6vh); 
        width: calc(6vw + 6vh);
    }
}

